<html>
	<head>
		<meta chatset="UTF-8"/>
	</head>
	<body>
		
		<div th:each="pedido : ${pedidos}">
			<div th:text="${pedido.nome}">Nome do produto</div>
			<div th:text="${pedido.valor}">Valor: <span>200,99</span></div>
			<div th:text="${pedido.dataDaEntrega}">Data da entrega <span>10/02/2023</span></div>
			<div><input th:value="${pedido.urlDoProduto}"></div>
			<div >Descrição</div>
			<div>
				<textarea th:text="${pedido.descricao}">Descrição do pedido...</textarea>
			</div>
			
			<div>
				<img th:src="${pedido.urlDaImagem}"src=""/>
			</div>
		</div>
		
		
	</body>
</html>